<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="../../static/style/feed.css" type="text/css"/> -->
    <link rel="stylesheet" th:href="@{/style/feed.css}" type="text/css"> 
  <!--   <title>LinkSnappy</title>  -->
</head>

<body>
    <header>
        <div class="social-header__logo">
            <button class="social-header__logo-button" id="social-header__logo-button" type="button">
                <img class="social-header__logo-image" src="" alt="">
            </button>     
        </div>
        <div class="social-header__search">
            <input class="social-header__search-input" id="social-header__search-input" type="search">  
            <div id="results"></div>
        </div>   
        <div class="social-header__button">
            <button id="messages" class="social-header__action--messages" type="button" aria-label="messages" >
                <img class="social-header__action--messages-image" src="../../static/image/imageWeb/Messenger.png" alt="">
            </button> 
            
            <div class="panel-messages">
                <div class="panel-search">
                    <label for="chat" class="chat-label">Chats</label>
                    <input id="chat" class="chat-search" type="search">
                </div>
             <div class="user-friends">
                    <div class="user-friends__search">
                      <button id="user-image__search" class="user-image__search" type="button">
                        <img class="user-image__search" src="" alt="">
                      </button>                
                        <strong class="messages-font">Alejandro Reyes Castillo</strong>   
                    </div>        
                </div>
                <div class="panel-messages__show">
                    <button id="user-messages" class="user-messages__button" type="button">
                        <img class="user-image" src="" alt="">
                    </button>
                    <div class="friends">
                        <strong class="messages-font">Alejandro Reyes Castillo</strong>
                        <span class="messages-color">hola</span>
                    </div>
                </div>
            </div>
            
            <button id="notifications" class="social-header__action--notifications"  type="button" aria-label="notifications">
                <img class="social-header__action--notifications-image" src="" alt="">
            </button> 
            
            <div class="panel-notifications">
                <div class="panel-notifications__read">
                    <button id="read" class="read" type="button">Read</button>
                    <button id="unread" class="read" type="button"> Unread</button>
                </div>
                
                <div>
                    
                </div>
                
                <div>
                    
                </div>
            </div>
            
            <button id="profile" class="social-header__action--profile"  type="button" aria-label="profile">
                <img class="social-header__action--profile-image" src="" alt="">
            </button>    
            <div class="panel-profile">
                <div class="panel-profile__user">
                <button class="profile__button">
                    <img class="profile__image" src="" alt="">
                </button>
                <p ><strong class="user-name__size"><span th:text="${username}"></span></strong></p>
                </div>  
                <div class="panel-profile__actions">
                    <a th:href="@{/profile}" class="user-Options">View Profile</a>
                    <a th:href="@{/setting}" class="user-Options">Setting</a>
                    <form class="box-form__button" th:action="@{/logout}" method="post" >
                        <button class="user-Options_logout" type="submit">Log Out</button>
                    </form>
                </div>
            </div>
        </div>
        
    </header>
    <div class="social-red">
      
        <aside class="social-aside__left" aria-label=""> 
            <div>
                <p>hola</p>
            </div>          
        </aside>      
      
        <main class="social-main__center" >
            <div class="social-main__publication">
                <button class="social-user__button" aria-label="user">
                    <img class="social-user__profile-image" src="" alt=""> 
                </button>
                <p><span></span>
                    <br>
                    <small></small>
                    <br>
                    <span></span>
                </p>
                <p><span></span></p> 
                <img class="" src="" alt="">
                <video class="">
                    <source src="" type="video/mp4">
                </video>
            </div>
        </main>

        <aside class="social-aside__right" aria-label="">
             <div>
                 <p>hola</p>
            </div>
            <div class="box-message_chat">                  
                <div class="box-x">
                    <button class="user-image" ><img src="../../static/image/ImageWeb/imagen.png" alt=""></button> 
                    <div class="box-username">                 
                    <span>hola</span>
                    <span>hola</span>
                    </div>
                    <button class="button-function" id="minimize">_</button>
                    <button class="button-function" id="close">X</button>
                </div>
                
                <div class="box-user_chat">
                    <div class="box-user__globe">
                        <div class="user">
                            <img class="user-ms" src="../../static/image/ImageWeb/imagen.png" alt="alt"/>
                        </div>
                        <div class="globe">
                            <span ></span>
                        </div><!-- comment -->
                    </div >
                    <div class="day_send_received">
                            <span></span>
                        </div>
                    <div class="box-user__globe">
                        <div>
                            <img class="user-ms" src="../../static/image/ImageWeb/imagen.png" alt="alt"/>
                        </div>  
                        <div class="globe">
                            <span></span>
                        </div>
                    </div>
                    <div class="day_send_received">
                            <span></span>
                        </div>
                </div>

                 <hr>
                 
                <div class="box-chat">                        
                    <button class="buttonSend">
                        <img class="sendImage" src="../../static/image/ImageWeb/imagen.png" alt="">
                    </button>
                    <input class="input-none" type="file">      
                    <textarea class="input__chat" placeholder="Escribe un mensaje..."></textarea> 
                    <button class="send">send</button>
                </div>                                                   
            </div>
        </aside>     
    </div>
    <footer>

    </footer>
 <!--  <script src="../../static/js/feed.js"> </script>  -->
   <script th:src="@{/js/feed.js}"></script> 
</body>

</html>