<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>

    </header>
    <main>
        <div>
            <Fieldset>
                <div>
                    <label for=""></label>
                    <input id="" name="" type="">
                </div>
                <div>
                    <label for=""></label>
                    <input id="" name="" type="">
                </div>
                <div>
                    <button></button>
                </div>
            </Fieldset>
        </div>

    </main>
    <footer>

    </footer>
</body>

</html>