<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recovery</title> 
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/style/recovery.css" type="text/css"/>
</head>

<body>
    <div class="box-header">
    <header>
        <h1>LinkSnappy</h1>
    </header>
    </div>
    <main>
        <div class="box-form">
            <form action="" method="post"> 
            <fieldset>    
                <div>
                    <label for="email">Email:</label>
                    <input id="email" name="email" type="email">
                </div>
                    <div class="box-button">
                    <button type="submit">Send</button>
                    </div>
        </fieldset>
            </form> 
        </div>
    </main>
    <footer>
        <a href="">Terms and Conditions </a>
    </footer>
</body>

</html>