<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recovery Password</title>
    <link rel="stylesheet" href="../../static/style/recoveryPassword.css" type="text/css"/> 
</head>

<body>
    <div class="box-header">
    <header>
        <h1>LinkSnappy</h1>
    </header>
    </div>
    <main>
        <div class="box-form">
            <form action="" method="post">
            <fieldset>             
                <div class="box-container__password">
                    <label for="newPassword">New Password:</label>
                    <input id="newPassword" name="newPassword" type="password">
                </div>
                <div class="box-container__password">
                    <label for="confirmPassword">Conf Password:</label>
                    <input id="confirmPassword" name="confirmPassword" type="password">
                </div>
                <div class="box-button">
                    <button type="submit">Send</button>
                </div>              
            </fieldset>
            </form>
        </div>
    </main>
    <footer>
        <a href="">Terms and Conditions </a>
    </footer>
</body>

</html>